{% extends 'auth_app/base.html'%}
{% load static %}

{% block container %}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
		<legend>Email confirmation</legend>
		Hi! To confirm your email press button 'Confirm'
		<button class="btn btn-lg btn-primary btn-block signup-btn" id="btnConfirm">Confirm</button>
	</div>
</div>
{% endblock container %}

{% block jquery %}
$.getScript('{% static 'auth_app/js/verify-email.js' %}', () => {
	init('{{ confirm_key }}', '{% url 'api:v1:auth_app:sign-up-verify' %}');
});
{% endblock %}
